<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ .title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css" integrity="sha256-+ShYTARvxDJAojW+toSQ3rQ99CYPIn1cHZHN0QSlnaU=" crossorigin="anonymous" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h3>You can see this. Good!</h3>
        <h6>{{ .title }}</h6>

        <p>HTTP Test is a basic utility API for testing HTTP Clients. This is useful when writing code for communicating with a third-party API where you 
            cannot easily access the data received. This is also useful in the instance that setting up a proxy to capture requests is undesired.</p>
 
    </body>
</html>